.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bgnav{
  background-color: #2a2c30;
  color: #fff;
  
}
.databg{
  text-align: center;
  background-color: #282c34;
  color: #fff;
}
.linkdata{
  
  background-color: #181717;
  color: rgb(253, 252, 252);
  margin: auto;
  width: 800px;
}
.textcenter{
text-align: center;
}
.searchlist{
  text-align: center;
  margin: auto;
  border: rgb(3, 3, 3) dotted;
  
}
.myul{
  margin-left: 20%;
 
}
.btnli{
  justify-content: space-between;
  margin-top: 5px;
  text-decoration: none;

}
.moivelist{
  margin-top: 2px;
}
.maincontainer{
  background-color: #4d4f52;
}
.feature{
  color: blue;
}